.choice-container {
    display: flex;
    margin-bottom: 0.6rem;
    width: 100%;
    font-size: 1.9rem;
    border: 0.15rem solid rgb(0, 195, 255);
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(247, 0, 255, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.6rem 2.6rem;
    background-color: #00fff2;
    color: white;
  }
  
  .choice-text {
    padding: 1.6rem;
    width: 100%;
  }
  
  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }
  
  
  #hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  #progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #0011ff;
    margin-top: 1.6rem;
  }
  
  #progressBarFull {
    height: 3.5rem;
    background-color: #00fff2;
    width: 0%;
  }
  

  #loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #00fff2;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }